/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #f9f9f9;
  color: #333;
}

/* Container chính */
.App {
  text-align: center;
  padding: 20px;
}

/* Header */
.App-header {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
}

/* Link test */
.App-link {
  color: blue;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}